/.vscode
/executable
/source
/testy.zip
/zadanie_operacje_na_plikach_tresc.jpg
test_structure_save.txt
test.txt
testOutput1.txt
getSmallestFromInput1.txt
test_swap_structures_0_10.txt
testy (1)/input1.txt
testy (1)/input2.txt
testy (1)/input3.txt
testy (1)/input4.txt
testy (1)/input5.txt
testy (1)/output1.txt
testy (1)/output2.txt
testy (1)/output3.txt
testy (1)/output4.txt
testy (1)/output5.txt
testy/input1.txt
testy/input2.txt
testy/input3.txt
testy/input4.txt
testy/input5.txt
testy/output1.txt
testy/output2.txt
testy/output3.txt
testy/output4.txt
testy/output5.txt
notes.txt
